<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  background: #ffffff;
}

.title {
  max-width: 500px;
  margin: auto;
  background: #ffffff;
  padding: 10px;

}
.portrait {
  align: center;
  border-radius: 50%;
  padding: 0px;
  box-shadow: 7px 7px 10px #999999;
}

.grid-container {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  background-color: #ffffff;
  padding: 0px;

}

.coloring {
  position: relative;
  background: #33C0FF;
  height: 100%;  
  width: 70%;
  left: 0px;
  top: -50%;
}

.grid-portrait {
  background-color: #ffffff;
  padding:  25% 0% 0% 0%;
  margin: 20% 0% 0% 0%;
  text-align: center;
  box-shadow: 7px 7px 10px #999999; 
}

.empty {
  background-color: #ffffff
}

.grid-title {
  background-color: #ffffff;
  margin: 10% 5% 30% 5%;
  padding: 40% 0% 40% 0%;
  font-size: 30px;
  text-align: left;
}

.in-line {
  display: inline-block;
}

.page-button {
  border-radius: 29px;
  font-size: 20px;
  padding: 15px;
  margin: 30px 8px 30px 4px;
}

.web-links {
  background-color: #ffffff; 
  vertical-align: bottom;
  padding: 10px;
}

</style>
</head>
<body>

<div class="grid-container" >
  <div class="empty"></div>
  <div class="grid-portrait" >
    <img class = "portrait" src="<%= asset_path('Portrait.jpeg') %>" alt="Portrait" height=40% >
    <h3>Michael Kuhlmeier</h3>
    <hr width=30%>
    <h4>Software Engineer</h4>
    <br>
    <div class="web-links">
    <a href="https://www.linkedin.com/in/michaelkuhlmeier/">
    <img src="<%= asset_path('linkedIn-logo.png') %>" alt="LinkedIn" height=30px style="padding:0px 5px">
    </a>
    <a href="https://github.com/mbkuhl">
    <img src="<%= asset_path('GitHub-logo.png') %>" alt="Github" height=30px style="padding:0px 5px">
    </a>
    </div>
  </div>

  <div class="grid-title">
    <div class="title">
      <h1 style="font-size:4vw">Welcome</h1>
      <h3 style="font-size:1.5vw">To my website</h3>
      <div class="in-line"><%= button_to "Resume", "/resume", class: "page-button" %></div>
      <div class="in-line"><%= button_to "Projects", "/projects", class: "page-button" %></div>
      
    </div>
  </div>
</div>



</body>
</html>