<!DOCTYPE html>
<html>
  <head>
    <title>MbkResume</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <br>
  <div class="nav-container container-fluid">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <h3 class="navbar-text"><%= link_to "Michael Kuhlmeier", "/" %></h3>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to 'Resume', "/resume", class: 'link_1', style: 'pull-right' %></li>
      <li><%= link_to 'Projects', "/projects", class: 'link_1', style: 'pull-right' %></li>
      <li><%= link_to 'About Me', "/about_me", class: 'link_1', style: 'pull-right' %></li>
      <li><%= link_to 'Contact', "/contact", class: 'link_1', style: 'pull_right' %></li>
    </ul>
  </nav>
  <hr>
  <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
  <% end %>
</div>
    <%= yield %>
  </body>
</html>
